
:root {
  --dark: #141414;
  --secondary: #7f7f7f;
  --light: white;
  --creme: #e8e4da;
  --textColor: white;
  --textColor: #141414;
  --primary: lightgreen;
}

body {
  color: var(--dark);
}


/* .home__layout { */
  /* min-width: 22.5rem;
  min-height: 50rem;

  width: 33.3%;
  height: 50rem;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  position: relative; */

  /* border: 5px solid var(--primary); */
/* } */

/* .home__header { */
  /* width: 100%;
  min-height: 12.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  --topH: 22%; */
  /* border:5px solid orange; */
/* } */

/* .home__top--whiteSpace {
  background-color: var(--light);
  width: 100%;
  height: var(--topH);
  border-bottom: 0.5px solid var(--dark);
} */

.header__container {
  min-height: 2.5rem;
  height: 78%;
  height: calc(100 - var(--topH));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: var(--light);

  /* border: 5px solid blue; */
}

.header__content {
  width: 87%;
  background-color: transparent;

  /* border: 10px solid brown; */
}

.header__logoAndIcon {
  /* display: flex;
  justify-content: space-between; */
  /* justify-content: end; */
  /* align-items: center;
  text-align: center;
  color: #141414; */
  /* padding-top: 1.25rem;
  padding-bottom: 1.5em; */
  /* border: 5px solid var(--primary1, red); */
}
/* .logo__container,
.menuIcon__container { */
  /* padding: 0.5em 0.5em 0.5em 0;
  margin: 0;
  height: auto;
  width: auto; */
  /* border: 1px solid orange; */
/* } */

/* .logo {
  height: 2rem; */
  /* width: auto; */

/* } */

/* .menuIcon { */
  /* height: 2rem;
  width: auto;
  color: #141414;
  cursor: pointer; */
/* } */

.header__content .screen {
  background-color: var(--creme);
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;

  font-size: 0.875rem;
  font-weight: 500;

  padding: 0.5em 0.75em;
  /* background-color: red; */
}

.header__content .screen--result {
  font-size: 0.875rem;
  text-align: right;
  font-weight: 600;
}
/*---------------/*
/*navbar states*/
.navbar__states {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  background-color: #1b1b1b;
  border-radius: 1rem 1rem 0 0;
  align-items: center;

  margin-top: 5%;
  /* border: 1px solid var(--primary1, red); */
}

.navbar__state {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  align-items: center;
  /* background-color: green; */
}

.icon {
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2.5px;
  height: 3.7rem;
  width: 3.7rem;
}

.state__icon {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0.75rem;
}

/* .icon:active, */
.icon:focus,
.icon .active,
.icon :not(.active, .icon:active):hover {
  border: 2px solid white;
  padding: 0;
  border-radius: 0.75rem;
}

.state--title {
  font-size: 0.625rem;
  color: white;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0.25em;
}

/*----sep comp-----*/
.stack__sep {
  display: flex;
  justify-content: start;
  padding: 0.25rem 0;
  margin-left: -11%;
  width: 130%;
}
.circleL,
.circleR {
  --radio: 1.1rem;
  height: var(--radio);
  width: calc(var(--radio) * 0.65);
  background-color: var(--dark);
  border-top-right-radius: var(--radio);
  border-bottom-right-radius: var(--radio);
}
.circleR {
  border-radius: var(--radio) 0 0 var(--radio);
}

.bar {
  border-bottom: 2px dashed white;
  transform-origin: center center;
  transform: translateY(-50%);
  width: 87%;
  border-color: var(--creme);
}
/*---------------------*/
/*---card results---*/
.content__presentation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1em 0 1em 0;
  /* border: 5px solid purple; */
}
.state__cards {
  background: url('../../assets/cardBgTexture.png') repeat;
  width: 87%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1.625rem;
}

.state__card--top,
.state__card--bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card--title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.card__screen {
  background-color: var(--creme);
  border-radius: 0.75rem;
  padding: 0.75rem;
  gap: 0.75rem;

  display: flex;
  align-items: center;

  justify-content: space-between;
}
.screen--concept {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  /* text-transform: capitalize; */
}

.icon--arrow {
  width: fit-content;
}

.card__screen .screen--result {
  text-align: right;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  /* border: 1px solid blue; */
}

.icon-currency {
  margin: 0;
  padding: 0.75em 0.75em;
  border-radius: 1.1em;

  border: 2.5px solid var(--dark);
  font-size: 0.65rem;
  font-weight: 700;

  line-height: 1.625em;
  text-align: center;
  width: 5em;
  /* background-color: goldenrod; */
}

.card__note {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.card__note .card__screen .screen--concept {
  padding: 0.5em 0;
}

.tracker__icon {
  width: max-content;
}

.iconPlus {
  width: auto;
}

/*-- bottom card for investment and debts--*/
.card__typeDate {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  gap: 0.5em;
}

.card__typeDate--type,
.card__typeDate--date {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.25em;
  width: 50%;
  /* border:1px solid red; */
}
.card__typeDate--type {
  width: 42%;
}

.card__typeDate--type .card__screen--type {
  text-align: center;
  border: 2px solid var(--dark);
  padding: 0.5em;
  border-radius: 0.75rem;
  gap: 0.5rem;
}

.card__typeDate--type .screen--concept {
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: capitalize;
  cursor: pointer;
}

.card__typeDate--date .card__screen {
  padding: 0.6em;
}
.card__typeDate .screen--concept {
  text-align: center;
}

/*-----navbar tracker-----------*/
.navbar__tracker {
  width: 85%;
  margin: 0 auto;
  /* border: 2px solid rgb(0, 255, 51); */
}

.navbarTracker__controls {
  background-color: var(--light);
  border-radius: 1rem;
  padding: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  height: 4rem;
  /* border: 2px solid rgb(0, 255, 51); */
}

.control--label {
  display: none;
}

.control__container {
  width: fit-content;
  /* width: 7rem; */
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  justify-content: start;

  /* background-color: var(--creme); */
  border-radius: 0.75rem;
  padding: 0.25rem;
  padding-right: 0rem;
}

.control__container:not([class*='active']) .control--icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  vertical-align: middle;
}

/*  active control state*/
.control__container.active {
  background-color: var(--creme);
  border-radius: 0.75rem;
  padding: 0.25rem;
  padding-right: 0rem;

  display: flex;
  justify-content: start;
  gap: 0.2em;
  align-items: center;
  border: 2px solid var(--dark);

  transition: width 1s ease;
  /* transition-duration:500ms; */
  height: 3rem;
  min-width: 7rem;
  /* border: 1px solid red; */
}

/* control active*/
.control__container.active .control--label {
  display: inline;
  --fsz: 0.75rem;
  font-size: var(--fsz);
  text-transform: capitalize;
  font-weight: bolder;
  /* line-height: calc(1.28 * var(--fsz)); */
}

.control__container.active .control--icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
}

/* [class*='icon']{
  background-color: red !important;
  border:10px slid greenyellow;
  z-index: 100;

} */
