.mainNavbar__container {
  width: 85%;
  margin: 0 auto;
  padding: 0.5em;
  background-color: var(--light);
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* height: 4rem; */
  /* border-radius: 0.75rem; */
}

.mainNavbar__container {

/* position: absolute;
bottom:-7%;
left:50%;
transform:translateX(-50%);  */

/* border:11px solid tomato; */

}

.mainNavbarButton.active {
  border-radius: 0.75rem;
  padding: 0.25rem;
  padding-right: 0rem;

  display: flex;
  justify-content: start;
  gap: 0.2em;
  align-items: center;
  border: 2px solid var(--dark);

  height: 3rem;
  min-width: 7rem;
  background-color: var(--creme);

  color: var(--dark);
  /* transition: 1s ease; */
}

.mainNavbarButton .button--label {
  display: none;
}

.mainNavbarButton.active .button--label {
  display: inline;
  --fsz: 0.875rem;
  font-size: var(--fsz);
  text-transform: capitalize;
  font-weight: 600;

  /* font-weight: bold; */
}
