.displayScreen {
  background-color: var(--creme);
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  width: 87%;
  width: 100%;

  padding: 0.5em 0.75em;
}

.displayScreen--concept {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
}

.displayScreen--result {
  font-size: 0.875rem;
  text-align: right;
  font-weight: 600;
}
