/* 
.displayScreen {
  background-color: var(--creme) ;
  color:var(--dark);
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  width: 100%;
  border:10px solid red;
  padding: 0.5em 0.75em;
}

.displayScreen--concept {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  color:var(--dark);
}

.displayScreen--result {
  font-size: 0.875rem;
  text-align: right;
  font-weight: 600;
  color:var(--dark);
} */
