:root {
  --dark: #141414;
  --secondary: #7f7f7f;
  --light: white;
  --creme: #e8e4da;
  --textColor: white;
  --textColor: #141414;
  --primary: lightgreen;
}

body {
  color: var(--dark);
}

[class*='icon'] {
  cursor: pointer;
}

.iconContainer {
  padding: 0;
  margin: 0;
}

.flx-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flx-row-jc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-row-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.flx-row-end {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
}
.flx-row-start {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
}

.home__layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  max-width: 33.3%;
  min-width: 22.5rem;
  padding-bottom: 1rem;

  /* min-height: 52rem; */
  /* height: 53rem; */
}

.home__header {
  width: 100%;
  min-height: 12.5rem;
  height: 12.5rem;
  background-color: var(--light);
  flex-direction: column;
  align-items: center;

  justify-content: start;

  /* border: 5px solid cyan; */
}

.content__presentation {
  display: flex-root;
  flex-direction: column;
  padding: 4.5rem 0 1.5rem 0;
  align-items: center;
  justify-content: space-between;
  /* border: 10px solid yellow; */
}

.cards__presentation {
  width: 88%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.5rem 0;
  /* border: 5px solid purple; */
}

/*general styles*/
.layout__header {
  width: 100%;
  position: absolute;
  top: var(--topSpaceHeight);
  background-color: var(--light);
  /* background-color: orange; */
}

.headerContent__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* border: 10px solid yellowgreen; */
}

.status__square {
  /* height: 0.5rem;
  width: 0.5rem;
  background-color: #5b8c93;
  border: none;
  border-radius: 0.125rem; */
}


/*Functional Pages*/
/*----Debts------*/

.debtsLayout {
  border: none;
  /* border:1px solid red; */
}

/*TitleHeader*/
.title__header__container {
  border: none;
  /* border:1px solid red; */
}
.title__header {
  border: none;
  /* border:1px solid red; */
}


