:root {
  --dark: #141414;
  --secondary: #7f7f7f;
  --light: white;
  --creme: #e8e4da;
  --textColor: white;
  --textColor: #141414;
  --primary: lightgreen;
}

body {
  color: var(--dark);
}

[class*='icon'] {
  cursor: pointer;
}

.iconContainer {
  padding: 0;
  margin: 0;
}

.flx-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.home__layout {
  min-width: 22.5rem;
  min-height: 50rem;
  height: 53rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  max-width: 33.3%;
}

.home__header {
  width: 100%;
  min-height: 12.5rem;
  height: 12.5rem;
  background-color: var(--light);
  flex-direction: column;
  align-items: center;

  justify-content: start;

  /* border: 5px solid cyan; */
}
/*----------------------*/

.trackerLayout {
  /* border:1px solid yellow; */
}

.trackerLayout__header {
  width: 100%;
  position: absolute;
  top: var(--topSpaceHeight);
  background-color: var(--light);
  /* background-color: orange; */
}

.headerContent__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* border: 10px solid yellowgreen; */
}

/*---------------/*
/*trackerNavbar*/
.trackerNavbar__container {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1b1b1b;
  border-radius: 1rem 1rem 0 0;
  width: 80%;
  margin: 0 auto;
  align-self: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  gap: 0.15rem;

  /* border: 2px solid goldenrod; */
}

/*----sep comp-----*/
.stack__sep {
  display: flex;
  justify-content: start;
  padding: 0.25rem 0;
  margin-left: -11%;
  width: 130%;
}
.circleL,
.circleR {
  --radio: 1.1rem;
  height: var(--radio);
  width: calc(var(--radio) * 0.65);
  background-color: var(--dark);
  border-top-right-radius: var(--radio);
  border-bottom-right-radius: var(--radio);
}
.circleR {
  border-radius: var(--radio) 0 0 var(--radio);
}

.bar {
  border-bottom: 2px dashed white;
  transform-origin: center center;
  transform: translateY(-50%);
  width: 87%;
  border-color: var(--creme);
}
/*---------------------*/
section {
}

article {
}
/*---card results---*/
.content__presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4.5rem;
  /* border: 5px solid purple; */
}
.state__cards {
  background: url('../../assets/cardBgTexture.png') repeat;
  width: 87%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1.625rem;
}

.state__card--top,
.state__card--bottom {
  z-index: 10;
  /* border: 1px solid rgb(35, 56, 3); */
}

.card--title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.card__screen {
  background-color: var(--creme);
  border-radius: 0.75rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputNumber {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 700;
  max-width: 80%;
  text-align: right;
  background-color: transparent;
  color: var(--dark);
}

.inputNumber::placeholder {
  color: var(--dark);
  font-weight: bold;
  font-size: 20px;
  font-size: 1.5rem;
}

/*------------------------*/
.icon-currency {
  border: 2px solid var(--dark);
  font-size: 0.625rem;
  font-weight: 700;
  border-radius: 1.1em;

  width: 2.5rem;
  height: 2.5rem;

  padding: 0.75rem 0.5rem;
}

/*------------------------*/
.screen--concept {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  /* text-transform: capitalize; */
}

.icon--arrow {
  width: fit-content;
}

/*-----CardNote---------------*/

.input__note__description {
  font-size: 0.875rem;
  line-height: 1.2em;
  letter-spacing: 1px;
  font-weight: 600;
  max-width: 100%;
  text-align: left;
  background-color: transparent;
  color: var(--dark);
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
textarea:invalid {
  border: 1px dashed tomato;
}

.input__note__description::placeholder {
  color: var(--dark);
  font-weight: 600;
}
/*--------------*/
/*--------------*/
/*-- bottom card for investment and debts--*/
.card__typeDate__container {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  /* border:1px solid orange; */
}

.card__typeDate--type,
.card__typeDate--date,
.card__typeDate--element {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  /* border:1px solid red; */
}

.card__typeDate--type {
  width: 40%;
}

.card__screen--type {
  border: 2px solid var(--dark);
  padding: 0.5rem 0;
  border-radius: 0.75rem;
  width: 100%;
  cursor: pointer;
}

.card__typeDate--type .screen--concept {
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: capitalize;
  width: fit-content;

  padding: 0;
  margin: 0 auto;
  /* border:1px solid blue; */
}

.card__screen--date {
  background-color: var(--creme);
  border-radius: 0.75rem;

  padding: 0.6rem;
  width: 100%;
  text-align: center;
  cursor: pointer;

  /* border:1px solid red; */
}
.card__typeDate .screen--concept {
  text-align: center;
}

/*----- datepicker  ---------*/
.tracker__datepicker__input {
  background-color: transparent;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--dark);
  font-weight: 400;
  cursor:pointer;
}


.tracker__datepicker:focus,
.tracker__datepicker:active {
  font-weight: 600;
}
/*DATE PICKER MODIFIED*/

.react-datepicker-popper{
  position: absolute;
  /* transform:translate(61px, 311.818px) !important;  */
  transform:translate(61px, 451.818px) !important;
  /* transform:translate(30%, 451.818px) !important; */
}

.react-datepicker__triangle{
  display:none;
}

.react-datepicker__month-container {
  background-color: #5b5b5b;
  color: #f7f7f7;
}

.react-datepicker__day {
  color: white !important;
  font-size: 0.875rem;
  font-weight: 500;
}

.react-datepicker__day.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #5b8c93 !important;
  border-radius: 50% !important;
}

.react-datepicker__day:hover {
  background-color: rgb(91, 140, 147) !important;
  border-radius: 50% !important;
  font-weight: 700 !important;
}

.react-datepicker__day-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--dark);
}

/*----------------*/