[class*='icon'] {
  cursor: pointer;
}

/*formTitle.css*/
.main__title--container {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

.form__title,
.labelText {
  color: var(--light);
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

.iconLeftArrow {
  height: 1.25rem;
}

/* formInputBullet.css */
.input--bullet {
  text-align-last: left;
  display: flex;
  flex-direction: column;
  /* border: 5px solid var(--primary); */
}

.bullet--input {
  border: 1px solid var(--creme);
  height: 2.625rem;
  border-radius: 1rem;
  color: var(--creme);
  padding: 0%;
  width: 100%;
  /* border: 5px solid var(--primary); */
}

.placeholderStyle,
.bullet--input::placeholder,
::placeholder {
  color: var(--creme);
  font-size: 0.875rem;
  padding-left: 0.5em;
  font-weight: 500;
}

/* formSubmitBtn.css */
/*------save btn-----------*/
.btn__container {
  /* padding-top: 2.5rem; */
}

.submit__btn {
  height: 3.125rem;
  height: 2.125rem;
  width: 100%;
  color: var(--dark);
  background-color: var(--creme);
  border-radius: 0.75em;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  font-size: 1rem;
  font-weight: bold;
}
/*--------------*/
/*formSelectionBullet.css*/

.card__bullet__container {
  /*input--bullet duplicated here*/
  text-align-last: left;
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow; */
}

/*.form__title duplicated here*/
.form__title,
.labelText, .label--text {
  color: var(--light);
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

.label--number{
font-weight: 600;
background-color: red;

}

.selection__container .textContent {
  color: var(--creme, #eadb8d);
  padding-left: 0.5em; /*this way bullet keep its original width*/
}

/*needed if going into css module approach*/
.selection__container.bullet--input {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*.bullet--input duplicated here*/
  border: 1px solid var(--creme);
  height: 2.625rem;
  border-radius: 0.75rem;
  color: var(--creme);

  position: relative;
  /* border: 5px solid var(--primary); */
}

.selection__container select.select {
  background-color: transparent;
  color: var(--creme);
  border: none;
  outline: none;
  appearance: none; /*default style non visible*/
  font-size: 0.875rem;
  padding: 1em 2.25em;
}

option {
  border: none;
  background-color: var(--dark);
}

.iconArrowDown {
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;

  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
  border: none;
  outline: none;
  pointer-events: none; /*just visual*/
}
