:root {
  --topWsH: 2.75rem;
}

.top--whiteSpace {
  /* background-color: var(--light); */
  width: 100%;
  height: var(--topWsH);

  border-bottom: 0.5px solid var(--dark);
  /* border: 1px solid yellow; */
}

